.cart{
width: 450px;
border: 1px solid grey;
border-radius: 16px;
padding: 14px;
display: flex;
justify-content: space-around;
align-items: center;
}

.cart>img{
width: 128px;

}

.right{
width: 350px;
display: flex;
align-items: center;
}
